@media only screen and (max-width: 600px) {
	.header {
		position: relative;
	}

	.left-btn {
		position: absolute;

		height: 12px;
		width: 6px;
		left: 9px;
		top: 6px;
		border-radius: 0px;
	}

	.right-p {
		position: absolute;
		height: 19px;
		width: 124px;
		left: 126px;
		top: 14px;
		border-radius: nullpx;
		font-family: Poppins;
		font-size: 20px;
		font-weight: 400;
		line-height: 19px;
		letter-spacing: 0.5px;
		text-align: left;
	}
}
